.layout, body, html:not(.uk-lightbox-page):not(.uk-offcanvas-page):not(.uk-modal-page) {
    height: 100%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 16px;
}

.gray-bg {
    background: #f6f6f6;
}
.white-bg {
    background: #fff;
}

.layout {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}
.layout > div,
.layout > aside,
.layout > footer {
    flex: 0 0 auto;
}
.layout > main {
    flex: 1 0 auto;
    position: relative;
}

.uk-alert, .uk-input, .uk-select, .uk-textarea {
    border-radius: 4px;
}

.uk-button {
    padding: 0 10px 2px;
    font-size: 16px;
    text-transform: unset;
}
* > .uk-button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
* > .uk-button:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.uk-navbar-light .uk-navbar-item {
    min-height: 65px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
/*.uk-button-group > .uk-button:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}*/

.uk-button-secondary {
    background-color: #F2F2F2;
    color: #505050;
}
.uk-button-secondary:hover,
.uk-button-secondary:focus {
    background-color: #F2F2F2;
    color: #505050;
}

.uk-button-primary {
    background-color: #FBCA12;
    color: #353535;
    border: 1px solid transparent;
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px -1.5px 0px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px -1.5px 0px rgba(0, 0, 0, 0.08);
}
.uk-button-primary:hover,
.uk-button-primary:focus {
    background-color: #ecbf16;
    color: #353535;
}

.uk-card-default {
    border-radius: 8px;
    overflow: hidden;
}

.uk-description-list > dt {
    text-transform: unset;
    color: #fff;
}

.uk-navbar-dark:not(.uk-navbar-transparent) {
    background: #2B2B2B;
    color: #fff;
}
.uk-navbar-dark:not(.uk-navbar-transparent) .uk-text-lead {
    color: #fff;
}
.uk-navbar-dark .uk-button {
    background: #505050;
    color: #fff;
    /*padding: 0 10px 2px;*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), inset 0px -1.5px 0px rgba(255, 255, 255, 0.1);
}


.uk-form-icon:not(a):not(button):not(input) {
    z-index: 1;
}
.uk-form-icon:not(.uk-form-icon-flip) ~ .datepicker > .uk-input {
    padding-left: 40px !important;
}


/* films */

.film,
.session {
    font-size: 14px;
}

.film a,
.session a {
    cursor: pointer;
}
.film .uk-cover-container,
.session .uk-cover-container {
    display: block;
}

/*.film .uk-link:hover,
.film a:hover {
    color: #6d48b7;
}*/

/*.film .uk-card-secondary {
    background: #3a3a3a;
}*/
.film .uk-card-body,
.film .uk-card-bottom,
.session .uk-card-body,
.session .uk-card-bottom {
    padding: 10px 20px;

}
.film .uk-card-bottom,
.session .uk-card-bottom {
    margin-top: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.film .uk-card-title,
.session .uk-card-title {
    margin-bottom: 0;
    font-size: 20px;
    color: #353535;
    font-weight: 500;
}
.film .uk-list,
.session .uk-list {
    margin: 0;
    font-size: 14px;
}
.film .uk-list > li,
.session .uk-list > li {
    margin: 0;
}

/*.film .age {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #5748b7;
}*/

.film .uk-nav-header {
    font-weight: 700;
    text-transform: inherit;
}
.film .uk-nav-header:not(:first-child) {
    margin-top: 5px;
}

.film .uk-nav > .uk-text-success {
    font-weight: 900;
    text-transform: uppercase;
}

/*.film .uk-subnav .uk-first-column {
    padding-left: 0;
}*/
.film .uk-subnav>* {
    padding-left: 10px;
}

.film .uk-card-media-left {
/*    height: 100%;
    width: 200px;
    position: relative;*/
    width: 150px;
    background: #000;
}



a.uk-link-heading:hover,
.uk-link-heading a:hover,
.uk-link-toggle:hover
.uk-link-heading,
.uk-link-toggle:focus
.uk-link-heading {
    color: inherit;
    text-decoration: underline;
}

.uk-modal-full {
    margin-top: 80px;
}

.uk-modal-dialog {
    background: #f6f6f6;
}
.uk-modal-close-full {
    background: transparent;
}

.uk-modal-title {
    font-size: 1.5rem;
    margin-top: 20px;
}

.menu-items .uk-icon {
    background-image: url(../images/sprite-menu.png);
    background-color: #fff;
    height: 48px;
    width: 48px;
}
.union {
    background-position: 0px 0;
}
.online {
    background-position: -48px 0;
}
.booking {
    background-position: -96px 0;
}
.return-tickets {
    background-position: -144px 0;
}
.return-food {
    background-position: -192px 0;
}
.discount {
    background-position: -240px 0;
}

.report-z {
    background-position: -288px 0;
}
.report-x {
    background-position: -336px 0;
}
.report {
    background-position: -384px 0;
}

.bg-white {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.product-items {
    background: #fff;
}

.uk-label-default {
    background: #FEF4CD;
    color: #353535;
    opacity: .9;
    margin-top: 5px;
}

.uk-breadcrumb > * > * {
    font-size: 1.1rem;
}
.uk-breadcrumb > * > .uk-text-muted {
    font-size: .875rem;
    margin-left: 20px;
}

.uk-breadcrumb > li > .title {
    font-weight: 600;
}

@media (min-width: 320px) and (max-width: 479px) {
    .uk-child-width-1-2\@xxs>* {
        width: 50%;
    }
}
@media (min-width: 480px) and (max-width: 639px) {
    .uk-child-width-1-2\@xs>* {
        width: 50%;
    }
    .uk-child-width-1-3\@xs>* {
        width: 33.32223%;
    }
}

@media (min-width: 960px) {
    .uk-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 640px) {
    .uk-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 500px) {
    .film .default-image {
        display: block;
    }
    .film .cover-image {
        display: none;
    }
    .film .uk-width-expand\@s {
        flex: 1;
        min-width: 1px;
    }
}

@media (max-width: 499px) {
    .film .default-image {
        display: none;
    }
    .film .cover-image {
        display: block;
    }
    .film .uk-cover-container {
        height: 100%;
    }
    .film .uk-cover-container .uk-cover {
        top: 0px;
        left: 0px;
        right: 0px;
        transform: none;
    }
    .film .uk-card-media-left {
        width: 100%;
    }
    .film .uk-card-media-left > div {
        max-height: 200px;
        height: 200px;
        overflow: hidden;
        display: block;
    }
    .film .uk-card-media-left > div > img {
        width: 100%;
        height: auto;
    }
}

